<hr>
<div class="row">
    <div class="col-md-3">
        <div class="input-group-addon" style=" display: block;">
            <h2 style="display: inline; vertical-align: inherit;">{{ingreso | number : '1.0'}}</h2>
            <h6 style="display: inline;vertical-align: text-top; color: #9fa2a2;">RD$</h6>
        </div>
    </div>

    <div class="col-md-1"><h1 style="text-align: center;">-</h1></div>

    <div class="col-md-3">
        <div class="input-group-addon" style=" display: block;">
                <h2 style="display: inline; vertical-align: inherit;">{{egreso | number : '1.0'}}</h2>
                <h6 style="display: inline;vertical-align: text-top; color: #9fa2a2;">RD$</h6>
        </div>
    </div>

    <div class="col-md-1"><h1 style="text-align: center;">=</h1></div>

    <div class="col-md-3">
        <div class="input-group-addon" style=" display: block;">
                <h2 style="display: inline; vertical-align: inherit;">{{restante | number : '1.0'}}</h2> 
                <h6 style="display: inline;vertical-align: text-top; color: #9fa2a2;">RD$</h6>
        </div>
    </div>
</div>
