<hr>
<div class="row">
<div class="col-md-2"><h2 style="text-align: center;">{{ingreso}}</h2></div>
<div class="col-md-1"></div>
<div class="col-md-1"><h2 style="text-align: center;">-</h2></div>
<div class="col-md-1"></div>
<div class="col-md-2"><h2 style="text-align: center;">{{egreso}}</h2></div>
<div class="col-md-1"></div>
<div class="col-md-1"><h2 style="text-align: center;">=</h2></div>
<div class="col-md-1"></div>
<div class="col-md-2"><h2 style="text-align: center;">{{restante}}</h2></div>
</div>
