<label>Lista de Movimientos</label>
<ul class="list-group hover">
  <li class="list-group-item" *ngFor="let articulo of articulolista" (click)="onItemClick(articulo)">
      <i class="fa" [class.fa-chevron-circle-down]='articulo.movimiento==false' [class.fa-chevron-circle-up]='articulo.movimiento==true'
      [style.color]="articulo.movimiento ? '#63dcb3' : '#ff7f7f'" style="font-size: xx-large; vertical-align: bottom;"></i>
  <span style="vertical-align: super;"> {{articulo.nombre}} - {{articulo.monto}} </span>
  </li>
</ul>